$font1: 'Figtree', sans-serif;
$font2: 'Figtree', sans-serif;
$font3: 'Figtree', sans-serif;

$body_font_size: 20px;
$heading1_size: 75px;
$heading2_size: 42px;
$heading3_size: 32px;
$heading4_size: 24px;
$heading5_size: 65px;
$heading6_size: 56px;
$small-size:16px;

$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$extra_bold: 800;
$black: 900;

$border1:rgba(255, 255, 255, 0.30);
$border2:var(--Stroke-Color, rgba(86, 95, 118, 0.10));
$border3:var(--Stroke-Color, rgba(86, 95, 118, 0.10));
$border4:var(--Stroke-Color, rgba(86, 95, 118, 0.10));
$border5:#CFCFCF;
$border6:#794183;
$border7:#EEE7EF;
$border8:#DBDCE0;
$border9:#EEEFF1;
$trans: all .4s ease-in-out;
$header-bg1: var(--Liner, linear-gradient(92deg, rgba(255, 255, 255, 0.40) -10.29%, rgba(255, 255, 255, 0.10) 98.27%));
$bg1: var(--Liner, linear-gradient(92deg, rgba(255, 255, 255, 0.40) -10.29%, rgba(255, 255, 255, 0.10) 98.27%));
$bg2:var(--Stroke-Color, rgba(86, 95, 118, 0.10));
$bg3:#FAFAFA;
$bg4:#F6F5FE;
$bg5:#EDECFD;
$bg7:#D9D8FA;
$bg6:var(--white-10, rgba(255, 255, 255, 0.10));
$bg10: var(--white-10, rgba(255, 255, 255, 0.10));
$bg8:#505065;
$bg11:var(--Title-Liner, linear-gradient(92deg, rgba(255, 255, 255, 0.40) -119.44%, rgba(255, 255, 255, 0.10) 98.36%));
$bg12: var(--BG, #F7F9FA);
$bg13:rgba(110, 36, 255, 0.05);
$bg14:#E9DEFF;
$bg15:#F8DFDE;
$bg16:#D6EBE7;
$bg17:#F0E9FF;
$bg18:#F8F4FF;
$bg19:#EDE9FD;
$bg20:#FAF9FD;
$bg21:#FAF9FD;
$bg22:#C6B9F9;
$bg23:#FFE4E2;
$bg24:#DDF0EB;
$bg25:#FBE6FF;
$bg26:#F0EEFA;
$bg27:#FFF6F5;
$bg28:#F8F9FA;
$bg29:#E6DBE8;
$bg30:#1877F7;
$bg31:#2188F7;
$bg32:#00B0F2;
$bg33:#FF0209;
$bg34:#1877F7;
$bg35:#FF0000;
$bg36:#007EBB;
$bg37:#0EA982;
$bg38:#FF4500;
$bg39:#0070BA;
$bg40:#DAC6DE;
$bg41:#F7F3F7;
$bg42:#D6C2FF;
$bg43:#FFEDEC;
$bg44:#FECDC9;
$bg45:#E8F5F2;
$bg46:#C0E4DA;
$bg47:#EEE7EF;
$bg48:#D0BCD3;
$bg49:#E6D6ED;
$btn-bg1: #433CE7;
$btn-bg2: #FC4B3E;
$btn-bg3:#5C3EF4;
$btn-bg4:#745DE6;
$white: var(--white-100, #FFF);
$white-bg:#fff;
$black:#000;
$color1:var(--Text-Color, #0D0E10);
$color2:#2921D3;
$color3:#676879;
$color4:#BDBDC5;
$color5:#6E24FF;
$color6:#8D53FF;
$color7:rgba(255, 255, 255, 0.80);
$color8:#495057;
$color9:#565658;
$color10:#DDDDDD;
$color11:#4B24EE;
$color12:#1E9E7A;
$color13:#E25AFF;
$color14:#F4F4F6;
$color15:#581164;
$color16:#43054E;
$color17:#CDB8D1;
$color18:#E8E6F9;
$color19:#7D65F6;
$color20:#FCEFFF;
$color21:#EEEBFE;
