/*============= OTHERS CSS AREA ===============*/
.brand-section-area{
    background: $btn-bg1;
    position: relative;
    .brand-header{
        span{
            color:$white;
            font-family: $font1;
            font-size: $small-size;
            font-style: normal;
            font-weight: $medium;
            line-height: 16px;  
            display: inline-block;
            margin-bottom: 16px;        
        }
        h2{
            color: $white;
        }
    }

    .brand-single-box {
        display: inline-block;
      }
      .marquee-wrap {
        background-color: $btn-bg1;
        width: 100%;
        position: relative;
        .marquee-text {
            animation: marquee 35s linear infinite; 
            position: relative;
            width: 100%; 
            white-space: nowrap;  
            margin-bottom: 30px;
            padding: 0;
            @media #{$md} {
                animation: marquee 50s linear infinite; 
            }
            @media #{$xs} {
                animation: marquee 50s linear infinite; 
            }
            .brand-single-box {
                display: inline-block;
                h3{
                    color: $white;
                    font-family: $font2;
                    font-size: $heading2_size - 2;
                    font-style: normal;
                    font-weight: $bold;
                    line-height: 40px;
                    img{
                        margin: 0 10px;
                    }
                }
            }
        }
      }

      .marquee-wrap2 {
        background-color: $btn-bg1;
        width: 100%;
        position: relative;
        .marquee-text {
            animation: marquee-2 35s linear infinite; 
            position: relative;
            width: 100%; 
            white-space: nowrap;  
            padding: 0;
            
            @media #{$md} {
                animation: marquee-2 50s linear infinite; 
            }
            @media #{$xs} {
                animation: marquee-2 50s linear infinite; 
            }
            .brand-single-box {
                img{
                    height: 50px;
                    width: 200px !important;
                    object-fit: contain;
                }
            }
        }
      }
}

// homepage2 //
.brand2-section-area{
    overflow: hidden;
    @media #{$xs} {
        padding: 40px 0 40px;
    }
    .brand2-header{
        h4{
            color: $color1;
            font-family: $font3;
            font-size: $small-size + 4;
            font-style: normal;
            font-weight: $bold;
            line-height: 20px;          
        }
    }
    .brand2-logos{
        position: relative;
        width: 100%; 
        padding: 0;
        .brand2-logo{
            display: inline-block;
            margin: 0 48px 0 0;
            img{
                height: 48px;
                width: 170px;
                object-fit: contain;
            }
        }
    }
}
// homepage3//
.brand2-section-area.brand3{
    overflow: hidden;
    .slick-list.draggable{
        overflow: inherit;
    }
    @media #{$xs} {
        padding: 40px 0 40px;
    }
    .brand2-header{
        h4{
            color: $color1;
            font-family: $font3;
            font-size: $small-size + 4;
            font-style: normal;
            font-weight: $bold;
            line-height: 20px;          
        }
    }
    .brand2-logos{
        position: relative;
        width: 100%; 
        padding: 0;
        .brand2-logo{
            display: inline-block;
            margin: 0 48px 0 0;
            img{
                height: 50px;
                width: 200px;
                object-fit: contain;
            }
        }
    }
}

// innerpages //
.brand-images-area{
    position: relative;
    top: -150px;
   .images1{
    @media #{$xs} {
        margin-bottom: 20px;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
   } 
}

.download-app-area{
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
    .download-header{
        span{
            font-family: $font1;
            font-weight: $medium;
            color: $color5;
            transition: $trans;
            font-size: $small-size;
            line-height: 16px;
            display: inline-block;
            padding:8px 12px;
            border-radius: 32px;
            background: $bg18;
        }
    }
    .download-images{
        position: relative;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
        ul{
            text-align: center;
            li{
                display: inline-block;
                a{
                    img{
                        width: 135px;
                        height: 40px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

// teamsection //
.team-inner-section-area{
    @media #{$xs} {
        padding: 50px 0 20px ;
    }
    @media #{$md} {
        padding: 50px 0 20px ;
    }
    .blog-team-images{
        position: relative;
        box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
        margin-bottom: 30px;
        .img1{
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4px 4px 0 0;
            }
        }
        .content-area{
            text-align: center;
            background: $white;
            padding: 38px 24px 24px 24px;
            border-radius: 0 0 4px 4px;
            position: relative;
            .ceo-tags{
                p{
                    font-size: $small-size - 4;
                    font-weight: $medium;
                    color: $color5;
                    font-family: $font1;
                    padding: 8px;
                    background: $white;
                    border: 1px solid $color5;
                    position: absolute;
                    display: inline-block;
                    border-radius: 25px;
                    line-height: 12px;
                    top: -17px;
                    left: 34%;
                    right: 34%;
                }
            }
            a{
                display: inline-block;
                font-family: $font1;
                font-size: $heading3_size;
                line-height: 32px;
                font-weight: $bold;
                color: $color1;
            }
            p{
                font-family: $font1;
                font-weight: $medium;
                color: $color3;
                font-size: $small-size;
                line-height: 26px;
            }
            ul{
                li{
                    display: inline-block;
                    a{
                        height: 40px;
                        width: 40px;
                        display: inline-block;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 50%;
                        background: $bg4;
                        font-size: $small-size + 4;
                        margin: 0 4px 0 0;
                        transition: $trans;
                        &:hover{
                            background: $color5;
                            color: $white;
                            transition: $trans;
                            transform: translateY(-3px);
                        }
                    }
                }
            }
        }
    }
}

.about-welcome-section-area.about3{
    padding: 170px 0 0;
    .download-images{
        position: relative;
        top: 124px;
        @media #{$xs} {
            top: 37px;
        }
        @media #{$md} {
            top: 37px;  
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }  
}
.blog-inner-section.inner-download{
    padding: 200px 0 70px;
    @media #{$xs} {
        padding: 100px 0 70px;
    }
    @media #{$md} {
        padding: 100px 0 70px;
    }
    .blog-inner-boxs{
        .content{
            ul{
                li{
                    display: inline-block;
                    a{
                        img{
                            height: 40px;
                            width: 135px;
                            object-fit: contain;
                            margin-top: 32px;
                        }
                    }
                }
            }
        }
    }
    .blog-inner-boxarea{
        .content{
            ul{
                li{
                    display: inline-block;
                    a{
                        img{
                            height: 40px;
                            width: 135px;
                            object-fit: contain;
                            margin-top: 32px;
                        }
                    }
                }
            }
        }
    }
}

// homepage4 //
.brand4-section-area{
    position: relative;
    background: $bg28;
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }

}
// homepage4 //
.others4-section-area{
    background: $bg28;
    position: relative;
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
    .others-collaborate-area{
        @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
        }
        @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
        }
        .listarea{
            display: flex;
            img{
                margin: 0 20px 0 0;
            }
            span{
                background: none;
                color: $color1;
                font-weight: $bold;
            }
        }
    }
    .collaborate-img{
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }
    .img2{
        position: relative;
        left: -100px;

        @media #{$xs} {
            margin-top: 30px;
            margin-bottom: 30px;
            left: 0;
            position: relative;
        }
        @media #{$md} {
            left: 0;
            position: relative;
        }
    }
}

// homepage4 //
.others5-section-area{
    background: $bg28;
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
    .all-social-area{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$xs} {
            display: block;
            justify-content: center;
            text-align: center;
        }
        .icons1{
            img{
                height: 50px;
            }
        }
        .facebook{
            text-align: center;
            &:hover{
                .icons1{
                    &::after{
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .icons1{
                height: 90px;
                width: 90px;
                text-align: center;
                line-height: 85px;
                border-radius: 50%;
                background: $white;
                margin: 0 auto;
                position: relative;
                border: 1px solid $border7;
                z-index: 1;
                img{
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                }
                &:hover{
                    &::after{
                        height: 100%;
                        width: 100%;
                        transition: $trans;
                        left: 0;
                        top: 0;
                    }
                }
                &::after{
                    position: absolute;
                    content:"" ;
                    height: 20px;
                    width: 20px;
                    transition: $trans;
                    background: $bg30;
                    left: 40%;
                    top: 40%;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            a.link{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $bold;
                color: $color1;  
                text-align: center; 
                display: inline-block;
            }
        }
        .instagram{
            text-align: center;
            &:hover{
                .icons1{
                    &::after{
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .icons1{
                height: 90px;
                width: 90px;
                text-align: center;
                line-height: 80px;
                border-radius: 50%;
                background: $white;
                border: 1px solid $border7;
                margin: 0 auto;
                position: relative;
                z-index: 1;
                font-size: 50px;
                &:hover{
                    &::after{
                        height: 100%;
                        width: 100%;
                        transition: $trans;
                        left: 0;
                        top: 0;
                    }
                }
                &::after{
                    position: absolute;
                    content:"" ;
                    height: 20px;
                    width: 20px;
                    transition: $trans;
                    background: $color15;
                    left: 40%;
                    top: 40%;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            a.link{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $bold;
                color: $color1;  
                text-align: center;
                display: inline-block; 
            }
        }
        .twitter{
            text-align: center;
                &:hover{
                    .icons1{
                        &::after{
                            height: 100%;
                            width: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            .icons1{
                height: 90px;
                width: 90px;
                text-align: center;
                line-height: 85px;
                border-radius: 50%;
                background: $white;
                margin: 0 auto;
                position: relative;
                border: 1px solid $border7;
                z-index: 1;
                &:hover{
                    &::after{
                        height: 100%;
                        width: 100%;
                        transition: $trans;
                        left: 0;
                        top: 0;
                    }
                }
                &::after{
                    position: absolute;
                    content:"" ;
                    height: 20px;
                    width: 20px;
                    transition: $trans;
                    background: $bg31;
                    left: 40%;
                    top: 40%;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            a.link{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $bold;
                color: $color1;  
                text-align: center;
                display: inline-block; 
            }
        }
        .telegram{
            text-align: center;
           &:hover{
            .icons1{
                &::after{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
           }
            .icons1{
                height: 90px;
                width: 90px;
                text-align: center;
                line-height: 85px;
                border-radius: 50%;
                background: $white;
                border: 1px solid $border7;
                margin: 0 auto;
                position: relative;
                z-index: 1;
                &:hover{
                    &::after{
                        height: 100%;
                        width: 100%;
                        transition: $trans;
                        left: 0;
                        top: 0;
                    }
                }
                &::after{
                    position: absolute;
                    content:"" ;
                    height: 20px;
                    width: 20px;
                    transition: $trans;
                    background: $bg32;
                    left: 40%;
                    top: 40%;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            a.link{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $bold;
                color: $color1;  
                text-align: center;
                display: inline-block; 
            }
        }
        .tiktok{
            text-align: center;
            &:hover{
                .icons1{
                    &::after{
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .icons1{
                height: 90px;
                width: 90px;
                text-align: center;
                line-height: 85px;
                border-radius: 50%;
                background: $white;
                border: 1px solid $border7;
                margin: 0 auto;
                position: relative;
                z-index: 1;
                &:hover{
                    &::after{
                        height: 100%;
                        width: 100%;
                        transition: $trans;
                        left: 0;
                        top: 0;
                    }
                }
                &::after{
                    position: absolute;
                    content:"" ;
                    height: 20px;
                    width: 20px;
                    transition: $trans;
                    background: $color1;
                    left: 40%;
                    top: 40%;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            a.link{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $bold;
                color: $color1;  
                text-align: center;
                display: inline-block; 
            }
        }
        .youtube{
            text-align: center;
            &:hover{
                .icons1{
                    &::after{
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .icons1{
                height: 90px;
                width: 90px;
                text-align: center;
                line-height: 85px;
                border-radius: 50%;
                background: $white;
                border: 1px solid $border7;
                margin: 0 auto;
                position: relative;
                z-index: 1;
                &:hover{
                    &::after{
                        height: 100%;
                        width: 100%;
                        transition: $trans;
                        left: 0;
                        top: 0;
                    }
                }
                &::after{
                    position: absolute;
                    content:"" ;
                    height: 20px;
                    width: 20px;
                    transition: $trans;
                    background: $bg33;
                    left: 40%;
                    top: 40%;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            a.link{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $bold;
                color: $color1;  
                text-align: center;
                display: inline-block; 
            }
        }
    
        .behance{
            text-align: center;
            &:hover{
                .icons1{
                    &::after{
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .icons1{
                height: 90px;
                width: 90px;
                text-align: center;
                line-height: 85px;
                border-radius: 50%;
                background: $white;
                margin: 0 auto;
                border: 1px solid $border7;
                position: relative;
                z-index: 1;
                &:hover{
                    &::after{
                        height: 100%;
                        width: 100%;
                        transition: $trans;
                        left: 0;
                        top: 0;
                    }
                }
                &::after{
                    position: absolute;
                    content:"" ;
                    height: 20px;
                    width: 20px;
                    transition: $trans;
                    background: $bg34;
                    left: 40%;
                    top: 40%;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            a.link{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $bold;
                color: $color1;  
                text-align: center;
                display: inline-block; 
            }
        }
    }

    .pinterest{
        text-align: center;
        &:hover{
            .icons1{
                &::after{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        .icons1{
            height: 90px;
            width: 90px;
            text-align: center;
            line-height: 85px;
            border-radius: 50%;
            background: $white;
            margin: 0 auto;
            border: 1px solid $border7;
            position: relative;
            z-index: 1;
            &:hover{
                &::after{
                    height: 100%;
                    width: 100%;
                    transition: $trans;
                    left: 0;
                    top: 0;
                }
            }
            &::after{
                position: absolute;
                content:"" ;
                height: 20px;
                width: 20px;
                transition: $trans;
                background: $bg35;
                left: 40%;
                top: 40%;
                border-radius: 50%;
                z-index: -1;
            }
        }
        a.link{
            font-family: $font1;
            font-size: $small-size;
            font-weight: $bold;
            color: $color1;  
            text-align: center;
            display: inline-block; 
        }
    }

    .linkedin{
        text-align: center;
        &:hover{
            .icons1{
                &::after{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        .icons1{
            height: 90px;
            width: 90px;
            text-align: center;
            line-height: 85px;
            border-radius: 50%;
            background: $white;
            margin: 0 auto;
            border: 1px solid $border7;
            position: relative;
            z-index: 1;
            &:hover{
                &::after{
                    height: 100%;
                    width: 100%;
                    transition: $trans;
                    left: 0;
                    top: 0;
                }
            }
            &::after{
                position: absolute;
                content:"" ;
                height: 20px;
                width: 20px;
                transition: $trans;
                background: $bg36;
                left: 40%;
                top: 40%;
                border-radius: 50%;
                z-index: -1;
            }
        }
        a.link{
            font-family: $font1;
            font-size: $small-size;
            font-weight: $bold;
            color: $color1;  
            text-align: center;
            display: inline-block; 
        }
    }

    .github{
        text-align: center;
        &:hover{
            .icons1{
                &::after{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        .icons1{
            height: 90px;
            width: 90px;
            text-align: center;
            line-height: 85px;
            border-radius: 50%;
            background: $white;
            margin: 0 auto;
            border: 1px solid $border7;
            position: relative;
            z-index: 1;
            &:hover{
                &::after{
                    height: 100%;
                    width: 100%;
                    transition: $trans;
                    left: 0;
                    top: 0;
                }
            }
            &::after{
                position: absolute;
                content:"" ;
                height: 20px;
                width: 20px;
                transition: $trans;
                background: $color1;
                left: 40%;
                top: 40%;
                border-radius: 50%;
                z-index: -1;
            }
        }
        a.link{
            font-family: $font1;
            font-size: $small-size;
            font-weight: $bold;
            color: $color1;  
            text-align: center;
            display: inline-block; 
        }
    }

    .gtp{
        text-align: center;
        &:hover{
            .icons1{
                &::after{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        .icons1{
            height: 90px;
            width: 90px;
            text-align: center;
            line-height: 85px;
            border-radius: 50%;
            background: $white;
            margin: 0 auto;
            border: 1px solid $border7;
            position: relative;
            z-index: 1;
            &:hover{
                &::after{
                    height: 100%;
                    width: 100%;
                    transition: $trans;
                    left: 0;
                    top: 0;
                }
            }
            &::after{
                position: absolute;
                content:"" ;
                height: 20px;
                width: 20px;
                transition: $trans;
                background: $bg37;
                left: 40%;
                top: 40%;
                border-radius: 50%;
                z-index: -1;
            }
        }
        a.link{
            font-family: $font1;
            font-size: $small-size;
            font-weight: $bold;
            color: $color1;  
            text-align: center;
            display: inline-block; 
        }
    }

    .reddit{
        text-align: center;
        &:hover{
            .icons1{
                &::after{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        .icons1{
            height: 90px;
            width: 90px;
            text-align: center;
            line-height: 85px;
            border-radius: 50%;
            background: $white;
            margin: 0 auto;
            border: 1px solid $border7;
            position: relative;
            z-index: 1;
            &:hover{
                &::after{
                    height: 100%;
                    width: 100%;
                    transition: $trans;
                    left: 0;
                    top: 0;
                }
            }
            &::after{
                position: absolute;
                content:"" ;
                height: 20px;
                width: 20px;
                transition: $trans;
                background: $bg38;
                left: 40%;
                top: 40%;
                border-radius: 50%;
                z-index: -1;
            }
        }
        a.link{
            font-family: $font1;
            font-size: $small-size;
            font-weight: $bold;
            color: $color1;  
            text-align: center;
            display: inline-block; 
        }
    }

    .paypal{
        text-align: center;
        &:hover{
            .icons1{
                &::after{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        .icons1{
            height: 90px;
            width: 90px;
            text-align: center;
            line-height: 85px;
            border-radius: 50%;
            background: $white;
            border: 1px solid $border7;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            &:hover{
                &::after{
                    height: 100%;
                    width: 100%;
                    transition: $trans;
                    left: 0;
                    top: 0;
                }
            }
            &::after{
                position: absolute;
                content:"" ;
                height: 20px;
                width: 20px;
                transition: $trans;
                background: $bg39;
                left: 40%;
                top: 40%;
                border-radius: 50%;
                z-index: -1;
            }
        }
        a.link{
            font-family: $font1;
            font-size: $small-size;
            font-weight: $bold;
            color: $color1;  
            text-align: center;
            display: inline-block; 
        }
    }

    .thumb{
        text-align: center;
        &:hover{
            .icons1{
                &::after{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        .icons1{
            height: 90px;
            width: 90px;
            text-align: center;
            line-height: 85px;
            border-radius: 50%;
            border: 1px solid $border7;
            background: $white;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            &:hover{
                &::after{
                    height: 100%;
                    width: 100%;
                    transition: $trans;
                    left: 0;
                    top: 0;
                }
            }
            &::after{
                position: absolute;
                content:"" ;
                height: 20px;
                width: 20px;
                transition: $trans;
                background: $color1;
                left: 40%;
                top: 40%;
                border-radius: 50%;
                z-index: -1;
            }
        }
        a.link{
            font-family: $font1;
            font-size: $small-size;
            font-weight: $bold;
            color: $color1;  
            text-align: center;
            display: inline-block; 
        }
    }
}

// homepage5 //
.homepage5-body{
    overflow-x: hidden !important;
    @media #{$xs} {
        overflow-x: hidden !important;
    }
}
.others-tools-section-area{
    background: $bg28;
    position: relative;
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
    .tools-tabs-area{
        ul{
            text-align: center;
            justify-content: center;
            li.nav-item{
                button{
                    display: inline-block;
                    align-items: center;
                    text-align: start;
                    font-size: $heading4_size;
                    font-weight: $bold;
                    color: $color1;
                    font-family: $font1;
                    background: $white;
                    padding: 12px 16px;
                    line-height: 24px;
                    border-radius: 54px;
                    width: 270px;
                    height: 74px;
                    margin: 0 30px 0 0;
                    @media #{$xs} {
                        margin: 0 0 16px 0;
                    }
                    @media #{$md} {
                        margin: 0 16px 16px 0;
                    }
                    .img1{
                        height: 50px;
                        width: 50px;
                        text-align: center;
                        display: inline-block;
                        line-height: 50px;
                        border-radius: 50%;
                        background: $color19;
                        margin: 0 12px 0 0;
                    }
                    .img1.red{
                        background: $bg43;
                    }
                    .img1.purple{
                        background: $color20;
                    }
                    .img1.green{
                        background: $bg45;
                    }
                }
                button.nav-link.active{
                    background: $btn-bg3;
                    color: $white;
                }
            }
        }
        .tab-content{
           .tab-pane{
            transform: rotateX(45deg);
            transition: $trans;
            .tools5-boxarea{
                background: $white;
                padding: 20px 16px;
                border-radius: 4px;
                position: relative;
                margin-bottom: 30px;
                transition: $trans;
                z-index: 1;
                overflow: hidden;
                &::after{
                    position: absolute;
                    content: "";
                    height: 50px;
                    width:50px;
                    left: 0;
                    top:0;
                    background: $btn-bg3;
                    z-index: -1;
                    border-radius: 4px;
                    visibility: hidden;
                    opacity: 0;
                    transition: $trans;
                }
                &:hover{
                    transform: translateY(-5px);
                    transition: $trans;
                    .images{
                        .img1{
                            background: $white;
                            transition: $trans;
                        }
                        .content{
                            a{
                                color: $white;
                                transition: $trans;
                            }
                        }
                    }
                    a{
                        color: $white !important;
                        transition: $trans;
                    }
                    p{
                        color: $white;
                        transition: $trans;
                    }
                    &::after{
                        top: 0;
                        left: 0;
                        right: 0;
                        visibility: visible;
                        opacity: 1;
                        transition: $trans;
                        height: 100%;
                        width: 100%;
                        border-radius: 4px;
                    }
                }
                .images{
                    display: flex;
                    align-items: center;
                    transition: $trans;
                    .img1{
                        height: 40px;
                        width: 40px;
                        text-align: center;
                        line-height: 40px;
                        background: $color21;
                        border-radius: 50%;
                        transition: $trans;
                    }
                    .content{
                        a{
                            font-family: $font1;
                            font-weight: $semi_bold;
                            color: $color1;
                            font-size: $small-size + 4;
                            line-height: 30px;
                            display: inline-block;
                            margin-left: 12px;
                            transition: $trans;

                        }
                    }
                }
                p{
                    font-size: $small-size;
                    font-family: $font1;
                    font-weight: $medium;
                    color: $color3;
                    line-height: 26px;
                    transition: $trans;
                }
                a.learnmore{
                    font-family: $font1;
                    font-size: $small-size;
                    color: $color1;
                    font-weight: $bold;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    line-height: 16px;
                    transition: $trans;
                    &::after{
                        position: absolute;
                        content: "";
                        height: 1px;
                        width: 0;
                        left: 0;
                        bottom: 0;
                        background: $white;
                        transition: $trans;
                    }
                    &:hover{
                        color: $white;
                        transition: $trans;
                        &::after{
                            width: 100%;
                            transition: $trans;
                        }
                        i{
                            transform: rotate(-45deg);
                            transition: $trans;
                        }
                    }
                    i{
                        margin-left: 4px;
                        transition: $trans;
                    }
                }
            }
           } 
           .tab-pane.fade.show.active{
            transform: rotateX(0);
            transition: $trans;
           }
        }
    }
}

// 404 error //
.error-section-area{
    .error-content{
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .content-area{
            h3{
                font-family: $font1;
                font-size: $heading2_size - 2;
                line-height: 42px;
                font-weight: $bold;
                color: $color1;
                margin-bottom: 16px;
            }
            p{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $medium;
                color: $color1;
                opacity: 0.7;
                line-height: 28px;
                margin-bottom: 24px;
            }
            .header-btn2{
                background: $btn-bg1;
            }
        }
    }
}
/*============= OTHERS CSS AREA ===============*/