/*============= SERVICE CSS AREA ===============*/
.service1-section-area{
    overflow: hidden;
    background: $bg3;
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }

    .service1-header{
        span{
            color: $btn-bg1;
            font-family: $font1;
            font-size: $small-size;
            font-style: normal;
            font-weight: $medium;
            line-height: 16px;
            display: inline-block;
            margin-bottom: 16px;
        }
    }

   .service-vertical-tabs {
    position: relative;
    width: 100%;
    border-radius: var(--4, 4px);
    background: $white;
    padding: 32px;
    position: relative;
    @media #{$xs} {
        padding: 25px;
    }
    .tabs-elements{
        position: absolute;
        left: 35px;
        top: 0;
    }
    .menu {
        div {
            span.light {
                height: 10px;
                width: 10px;
                position: absolute;
                top: 24px;
                left: 15px;
                border-radius: 100%;
                transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
               }
        }
        div.active{
            span.light {
                left: 0;
                height: 100%;
                width: 3px;
                top: 0;
                border-radius: 0;
               }
             .tabs-content-area{
                background: $btn-bg1;
                .tabs-btn-icon{
                    background: $white;
                }
                .tabs-btn-content{
                    h4{
                        color:$white;
                    }
                    p{
                        color: $white;
                        opacity: 0.7;
                        font-weight: $medium;
                    }
                }
             }
        }
    }
   ul.service-tabs-content {
    position: relative;
    height: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);

        li {
            opacity: 0;
            transform: translateX(50px);
            position: absolute;
            list-style: none;
            transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        li.active {
            transition-delay: .3s;
            z-index: 2;
            opacity: 1;
            transform: translateX(0px);
        }
        li.active {
            transition-delay: .3s;
            z-index: 2;
            opacity: 1;
            transform: translateX(0px);
        }
   }
   .service-tabs-grid{
    margin: 0 70px 0 0;
    @media #{$xs} {
        margin: 0;
        margin-bottom: 30px;
    }
    @media #{$md} {
        margin: 0;
        margin-bottom: 30px;
    }
    .tabs-content-area{
        background: $bg4;
        position: relative;
        border-radius: 50px;
        padding: 16px;
        cursor: pointer;
        @media #{$xs} {
            text-align: center;
            margin: 0 auto;
            border-radius: 5px;
        }
        .tabs-btn-icon{
            height: 65px;
            width: 65px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            background: $bg5;
            position: absolute;
            top: 11px;
            @media #{$xs} {
                position: relative;
                top: 0;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        .tabs-btn-content{
            padding-left: 85px;
            @media #{$xs} {
                padding: 0;
            }
            h4{
                color:$color1;
                font-family: $font2;
                font-size: $heading4_size - 4;
                font-style: normal;
                font-weight: $semi_bold;
                line-height: 24px;
                margin-bottom: 12px;
                @media #{$xs} {
                    font-size: $small-size + 2;
                }
            }
            p{
                color:$color3;
                font-family: $font1;
                font-size: $small-size;
                font-style: normal;
                font-weight: $medium;
                line-height: 16px;
                @media #{$xs} {
                    font-size: $small-size - 2;
                }
            }
        }
    }
 }
 .service-tabs-content{
    position: relative;
    li{
        .vertical-tabs-img{
            img{
                height:100%;
                width: 100%;
                object-fit: cover;
            }
            img.vertical-img2{
                width: 363px;
                height: 226px;
                position: absolute;
                bottom: -40px;
                right: -100px;
                @media #{$xs} {
                    position: relative;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
 }
 }
}

// homepage2 //
.service2-section-area{
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
   .service2-header {
    span{
        color: $color5;
        font-family: $font3;
        font-size: $small-size;
        font-style: normal;
        font-weight: $medium;
        line-height: 16px;
        display: inline-block;
        padding: 8px 12px;
        background: $white;
        border-radius: 32px;
        margin-bottom: 12px;
    }
    h2{
        color: $white !important;
    }
   }
   .service2-bg-area{
    border-radius: 4px;
    transition: $trans;
    .service2-box-area {
        background: $bg12;
        padding: 24px;
        margin-bottom: 30px;
        transition: $trans;
        border-radius: 4px;
        &:hover{
            background: $btn-bg2;
            transition: $trans;
            transform: translateY(-5px);
            .service2-icon {
                background: $white;
                transition: $trans;
            }
            .service2-icon1 {
                background: $white;
                transition: $trans;
            }
            .service2-icon2 {
                background: $white;
                transition: $trans;
            }
            .service2-content{
                a {
                    color: $white;
                    transition: $trans;
                    font-weight: $semi_bold;
                }
                p {
                    color: $white;
                    transition: $trans;
                }
            }
        }
        .service2-icon {
            background: $bg15;
            height: 80px;
            width: 80px;
            text-align: center;
            border-radius: 50%;
            line-height: 80px;
            transition: $trans;
            margin: 0 auto;
        }
        .service2-icon1 {
            background: $bg14;
            height: 80px;
            width: 80px;
            text-align: center;
            border-radius: 50%;
            line-height: 80px;
            margin: 0 auto;
            transition: $trans;
        }
        .service2-icon2 {
            background: $bg16;
            height: 80px;
            width: 80px;
            text-align: center;
            border-radius: 50%;
            line-height: 80px;
            transition: $trans;
            margin: 0 auto;
        }
        .service2-content{
            a {
                color:$color1;
                text-align: center;
                text-overflow: ellipsis;
                font-family: $font3;
                font-size: $small-size + 4;
                font-style: normal;
                font-weight: $semi_bold;
                line-height: 20px;
                display: inline-block;
                margin-bottom: 16px;
                transition: $trans;
                margin-top: 16px;
            }
            p {
                color: $color3;
                text-align: center;
                font-family: $font3;
                font-size: $small-size;
                font-style: normal;
                font-weight: $medium;
                transition: $trans;
                line-height: 28px;
            }
            .readmore{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $bold;
                color: $color1;
                display: inline-block;
                line-height: 16px;
                transition: $trans;
                margin-bottom: 0;
                margin-top: 24px;
                i{
                    margin-left: 4px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
   }
}

// homepage3 //
.tools-section-area{
    background: $bg20;
    position: relative;
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
    .tabs3-tools-area{
        background: $white;
        padding: 60px 100px;
        border-radius: 4px;
        overflow: hidden;
        @media #{$xs} {
            padding: 30px  30px 50px 30px;
        }
        @media #{$md} {
            padding: 30px  30px 50px 30px;
        }
        ul{
            justify-content: center;
            li.nav-item{
                text-align: center;
                margin: 0 30px 0 0;
                @media #{$xs} {
                    width: 100%;
                    margin: 0 0 16px 0;
                }
                @media #{$md} {
                    width: 100%;
                    margin: 0 0 16px 0;
                }
                .nav-link.active{
                    background: $color11;
                    .content{
                        p{
                            color: $white;
                        }
                        .tools-icon1{
                            display: none;
                            margin: 0 auto;
                        }
                        .active-icon1{
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
                .nav-link{
                    background: $bg20;
                    border-radius: 4px;
                    padding: 12px;
                    text-align: center;
                    min-width: 142px;
                    .content{
                        .tools-icon1{
                            display: inline-block;
                            margin: 0 auto;
                        }
                        .active-icon1{
                            display: none;
                            margin: 0 auto;
                        }
                        p{
                            font-family: $font1;
                            font-size: $small-size + 2;
                            font-weight: $bold;
                            color: $color1;
                        }
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                transform: rotateX(45deg) translateY(50px);
                transition: $trans;
                opacity: 0;
                .main-content-area{
                    .tabs-header{
                        padding: 0 30px  0;
                        @media #{$xs} {
                            padding: 0;
                            margin-bottom: 30px;
                        }
                        @media #{$md} {
                            padding: 0;
                            margin-bottom: 30px;
                        }
                        h2{
                            text-align: start;
                        }
                        p{
                            text-align: start;
                        }
                        a{
                            text-align: start;
                        }
                        .list{
                            display: flex;
                            img{
                                margin: 0 30px 0 0;
                            }
                            p{
                                span{
                                    font-weight: $bold;
                                    color: $color1 !important;
                                }
                            }
                        }
                    }
                    .tabs-images{
                        position: relative;
                        img{
                            height: 340px;
                            width: 400px;
                            object-fit: cover;
                            border-radius: 4px;
                            @media #{$xs} {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                            @media #{$md} {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                        .tabs-img2{
                            width: 290px;
                            height: 200px;
                            object-fit: cover;
                            position: absolute;
                            bottom: -100px;
                            right: 0;
                            @media #{$xs} {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                position: relative;
                                bottom: 0;
                                top: 20px;
                            }
                            @media #{$md} {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                position: relative;
                                bottom: 0;
                                top: 20px;
                            }
                        }
                    }
                }
            }
            .tab-pane.active.show{
                transform: rotateX(0) translateY(0);
                transition: $trans;
                opacity: 1;
            }
        }
    }
}

// innerpages //
.service-inner-section-area{
    background: $bg12;
    @media #{$xs} {
        padding: 50px 0 20px;
    }
    @media #{$md} {
        padding: 50px 0 20px;
    }
    .service-inner-header{
        span{
            background: $bg26;
            padding: 8px 12px;
            line-height: 16px;
            border-radius: 32px;
            display: inline-block;
            font-size: $small-size;
            font-weight: $medium;
            color: $color5;
         }
    }
    .service-inner-boxarea{
        position: relative;
        background: $white;
        padding: 32px 16px;
        border-radius: 4px;
        box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
        transition: $trans;
        z-index: 1;
        margin-bottom: 30px;
        &::after{
            position: absolute;
            content: "";
            height: 30px;
            width: 30px;
            border-radius: 50%;
            transition: $trans;
            overflow: hidden;
            opacity: 0;
            top: 40%;
            left: 40%;
            right: 40%;
            z-index: -1;
            background: $color5;
        }
        &:hover{
            transform: translateY(-5px);
            transition: $trans;
            &::after{
                visibility: visible;
                opacity: 1;
                transition: $trans;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border-radius: 4px;
            }
            .icons{
                transition: $trans;
                background: $white;
                transition: $trans;
            }
            .content{
                a{
                    color: $white;
                    transition: $trans;
                }
                p{
                    color: $white;
                    transition: $trans;
                    opacity: 0.8;
                }
            }
        }
        .icons{
            height: 60px;
            width: 60px;
            text-align: center;
            line-height: 60px;
            background: $bg18;
            display: inline-block;
            border-radius: 50%;
            transition: $trans;
        }
        .icons2{
            background: $bg23;
        }
        .icons3{
            background: $bg24;
        }
        .icons4{
            background: $bg25;
        }
        .content{
            a{
                font-family: $font1;
                font-weight: $semi_bold;
                color: $color1;
                display: inline-block;
                font-size: $small-size + 4;
                line-height: 20px;
                transition: $trans;
            }
            p{
                font-family: $font1;
                font-size: $small-size;
                font-weight: $medium;
                color: $color3;
                line-height: 26px;
                transition: $trans;
            }
        }
    }
    .box2{
        &::after{
            background:$btn-bg2 ;
        }
    }
    .box3{
        &::after{
            background: $color12;
        }
    }
    .box4{
        &::after{
            background: $color13;
        }
    }
}

// homepage4 //
.marketing-section-area{
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
    .marketing-img{
        position: relative;
        z-index: 1;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
        .marketing-bg{
            position: absolute;
            left: 0;
            z-index: -1;
        }
    }
    .tabs-text-area{
        border-radius: var(--4, 4px);
        border: 1px solid $border4;
        padding: 20px 16px;
        position: relative;
        transition: $trans;
        margin: 0 0 0 40px;
        @media #{$xs} {
            margin: 0;
        }
        @media #{$md} {
            margin: 0;
        }
        &:hover{
            border-radius: var(--4, 4px);
            background: $white;
            transition: $trans;
            transform: translateY(-5px);
            box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
        }
        .tabs-icon{
            height: 84px;
            width: 84px;
            text-align: center;
            line-height: 84px;
            background: $bg14;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            @media #{$xs} {
                position: relative;
            }
        }
        .tabs-icon1{
            height: 84px;
            width: 84px;
            text-align: center;
            line-height: 84px;
            background: $bg15;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            @media #{$xs} {
                position: relative;
            }
        }
        .tabs-icon2{
            height: 84px;
            width: 84px;
            text-align: center;
            line-height: 84px;
            background: $bg16;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            @media #{$xs} {
                position: relative;
            }
        }
        .tabs-icon3{
            height: 84px;
            width: 84px;
            text-align: center;
            line-height: 84px;
            background: $bg29;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            @media #{$xs} {
                position: relative;
            }
        }
        .tabs-text{
            padding-left: 100px;
            @media #{$xs} {
                padding-left: 0;
                margin-top: 20px;
            }
            a{
                color: $color1;
                font-family: $font3;
                font-size: $small-size + 4;
                font-style: normal;
                font-weight: $semi_bold;
                line-height: 20px;
                display: inline-block;
                margin-bottom: 12px;
                text-transform: capitalize;
            }
            p{
                color: $color3;
                font-family: $font3;
                font-size: $small-size;
                font-style: normal;
                font-weight: $medium;
                line-height: 28px;
            }
        }
    }
}

// homepage5 //
.service-sticky-area{
    position: relative;
    .all-sticky-area{
        position: relative;
        .sticky-area{
            .section-area{
                position: sticky;
            }
            .section-area.bg2{
                background: $bg43;
                position: sticky;
                top:150px !important;
            }
            .section-area.bg3{
                background: $bg45;
                position: sticky;
                top: 200px !important;
            }
            .section-area.bg4{
                background: $bg47;
                position: sticky;
                top: 250px !important;
            }
            .footer-last-content.footerbg1{
                background: $bg44;
                   .header-btn8{
                    background:$btn-bg2;
                }
            }
            .footer-last-content.footerbg2{
                background: $bg46;
                   .header-btn8{
                    background:$color12;
                }
            }
            .footer-last-content.footerbg3{
                background: $bg48;
                   .header-btn8{
                    background:$color15;
                }
            }
            .section-area{
                background: $bg17;
                border-radius: 4px;
                position: sticky;
                top: 100px;
                margin-bottom: 100px;
                @media #{$xs} {
                    margin-bottom: 30px;
                }
                .all-content{
                    padding: 32px 0 0 32px;
                    .logo-content{
                        display: flex;
                        align-items: center;
                        .img1{
                        height: 50px;
                        width: 50px;
                        line-height: 50px;
                        text-align: center;
                        border-radius: 50%;
                        background: $white;
                        margin: 0 16px 0 0;
                        }
                        h3{
                        font-family: $font1;
                        font-size: $heading3_size;
                        line-height: 42px;
                        font-weight: $bold;
                        color: $color1;
                        }
                    }

                    .pera-area{
                        h3{
                        font-size: $heading4_size;
                        font-family: $font1;
                        font-weight: $semi_bold;
                        color: $color1;
                        line-height: 32px;
                        }
                        .content-pera{
                        margin-top: 30px;
                        }
                    }
                }
                .images{
                    position: relative;
                    right: -100px;
                    padding: 32px 32px 0 0;
                    @media #{$xs} {
                    right: 0;
                    margin-top: 30px;
                    }
                    @media #{$md} {
                        right: 0;
                        margin-top: 30px;
                    }
                        img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }
                }
                .footer-last-content{
                    background: $bg42;
                    padding: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0 0 4px 4px;
                    @media #{$xs} {
                        display: inline-block;
                    }
                    @media #{$md} {
                        display: inline-block;
                    }
                    .header-btn8{
                        @media #{$xs} {
                            margin-top: 20px;
                        }
                        @media #{$md} {
                            margin-top: 20px;
                        }
                    }
                    h3{
                        font-family: $font1;
                        font-size: $heading4_size;
                        line-height: 30px;
                        font-weight: $semi_bold;
                        color: $color1;
                    }
                    p{
                        font-family: $font1;
                        font-size: $small-size;
                        font-weight: $medium;
                        color: $color3;
                        line-height: 26px;
                    }
                }
            }
    }
    }
        .all-author-service{
           position: sticky;
            top: 0;
            position: -webkit-sticky;
            .footer-last-content.footerbg1{
                background: $bg46;
                .header-btn8{
                    background:$color12;
                }
            }
            .footer-last-content.footerbg2{
                background: $bg48;
                .header-btn8{
                    background:$color15;
                }
            }
            .services-author-area.bg2{
                background: $bg43;
            }
            .services-author-area.bg3{
                background: $bg45;
                position: relative;
                top: 0;
            }
            .services-author-area.bg4{
                background: $bg47;
            }
            .footer-last-content.footerbg{
                background: $bg44;
                .header-btn8{
                    background:$btn-bg2 ;
                }
            }
            .services-author-area{
                background: $bg17;
                border-radius: 4px;
                padding: 32px;
                .logo-content{
                    display: flex;
                    align-items: center;
                    .img1{
                        height: 50px;
                        width: 50px;
                        line-height: 50px;
                        text-align: center;
                        border-radius: 50%;
                        background: $white;
                        margin: 0 16px 0 0;
                    }
                    h3{
                        font-family: $font1;
                        font-size: $heading3_size;
                        line-height: 42px;
                        font-weight: $bold;
                        color: $color1;
                    }
                }
                .pera-area{
                    h3{
                        font-size: $heading4_size;
                        font-family: $font1;
                        font-weight: $bold;
                        color: $color1;
                        line-height: 32px;
                    }
                    .content-pera{
                        margin-top: 30px;
                    }
                }
               .images{
                position: relative;
                right: -100px;
                @media #{$xs} {
                    right: 0;
                    margin-top: 30px;
                }
                @media #{$md} {
                    right: 0;
                    margin-top: 30px;
                }
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 4px;
                }
               }
              }
              .footer-last-content{
                background: $bg42;
                padding: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 0 0 4px 4px;
                @media #{$xs} {
                    display: inline-block;
                }
                @media #{$md} {
                    display: inline-block;
                }
                .header-btn8{
                    @media #{$xs} {
                        margin-top: 20px;
                    }
                    @media #{$md} {
                        margin-top: 20px;
                    }
                }
                h3{
                    font-family: $font1;
                    font-size: $heading4_size;
                    line-height: 30px;
                    font-weight: $bold;
                    color: $color1;
                }
                p{
                    font-family: $font1;
                    font-size: $small-size;
                    font-weight: $medium;
                    color: $color3;
                    line-height: 26px;
                }
              }
          }
/*============= SERVICE CSS AREA ENDS ===============*/
